.effective-radios.is-valid {
  label { border-color: #28a745; }
  .valid-feedback { display: block; }
}

.effective-radios.is-invalid {
  label { border-color: #dc3545; }
  .invalid-feedback { display: block; }
}

.effective-radios > label {
  display: block;
}

.effective-radios > .btn-group > label:first-of-type {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
