.effective-submit .eb-icon { display: none; }
.effective-submit.effective-current-submit span { display: none; }

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-apperance: none;
}
