.effective-form-actions .eb-icon { display: none; }
.effective-form-actions.effective-current-submit .eb-icon-spinner { display: inline; }
.effective-form-actions.effective-current-submit span { display: none; }
